<!DOCTYPE html>
<html>

<head>
<style>
  body {background-color:lightgrey}
  h1   {
  
          color:blue;
          font-size:500%;
              
          }
</style>


</head>
<hr>
<body>

<center>
  <h1>URtickets.com</h1>
 

<%= image_tag("logo.JPG" ,  :width => 400, :height => 150, :crop => :fill) %>

  <p>Thank you for choosing URtickets!. </p>
  <p> Please come again. </p>
  

</body>
</center>


</html>
