<!DOCTYPE html>
<html>

<head>
<style>
  body {background-color:lightgrey}
  h1   {
  
          color:blue;
          font-size:300%;
              
          }

  h2   {
  
          color:green;
          font-size:200%;
              
          }
          
  h3   {
  
          color:red;
          font-size:200%;
              
          }
</style>


<h1>Listing Of Tickets</h1>
<hr>



<body>


<h2>Available Tickets</h2>

<%= image_tag("images1.jpg" ) %>



<table>
  <tr>
    <th>Event Photo:</th>
    <th>Event Title:</th>
    <th colspan=2=></th>
  </tr>
 
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= image_tag("images3.jpg",  :width => 85, :height => 60, :crop => :fill) %></td>     
      <td><%= link_to ticket.event_title, ticket_path(ticket) %></td>
    </tr>
  <% end %>
</table>

<h3>Booked Tickets</h3>
<%= image_tag("images2.jpg") %>

</html>